# =================================
# Lite-Ollver-MD Environment Config
# =================================

# Your WhatsApp Session ID
# Generate from the session generator
SESSION_ID=LITE-OLLVER-MD:~

# Owner Information
OWNER_NAME=RichiieeTheeGoat
OWNER_NUMBER=254740479599

# Bot Settings
PREFIX=.
MODE=public

# Timezone
TIMEZONE=Africa/Nairobi

# Support Links
SUPPORT_GROUP=https://chat.whatsapp.com/JKF3XHbmKY47IQZc7d3LB2
OWNER_CONTACT=https://wa.me/254740479599