# Environment
.env
.env.local
.env.production

# Dependencies
node_modules/

# Session
session/
creds.json
*.json

# Logs
*.log
npm-debug.log*

# Temp
temp/
*.tmp
.DS_Store
Thumbs.db

# Settings
settings.json
session.tar.gz
session_base64.txt